# 1. PyCharm 自己的配置文件
.idea/

# 2. Python 运行产生的缓存垃圾
__pycache__/
*.py[cod]
*$py.class

# 3. 机器学习/深度学习的模型权重和数据（非常重要！）
*.h5
*.pt
*.pth
*.ckpt
*.safetensors
/data/
/dataset/
/datasets/
/logs/

# 4. 开发时实验文件
/experiments/
/TEST/


# 4. 虚拟环境（如果你在项目里建了虚拟环境）
venv/
env/
.env